html {
	margin: 20px;
	background-color: #EDF5C8;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light"
	font-weight: 15;
	color: #333;
}

h1 {
	font-size: 46px;
}

p {
	font-size: 14px;
}
